<div class="contenedor d-flex aligns-items-center justify-content-center text-center">
	<div class="main">
		<h1 class="mb-4">{{description}}</h1>
		<button id="hacer-pedido" class="btn btn-primary">Realizar Pedido</button>
	</div>
</div>