<div class="contenedor d-flex aligns-items-center justify-content-center text-center">
	<div class="main">
		<h1 class="mb-4">{{description}}</h1>
		<a href="/" class="btn btn-primary">Ir al inicio</a>
	</div>
</div>